/*-------slider-section-------*/
    
    intro-section, .intro-section .container .row {
        height: 100vh;
        min-height:840px;
    }
    .intro-section {
        position: relative;
    }
    
    .intro-section:before {
        content: "";
        position: absolute;
        height: 100%;
        width: 100%;
        top:0;
        left:0;
        background: linear-gradient(to right, rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)),
        url(/images/background_banner.jpg); 
        background-size: cover; 
        background-repeat: no-repeat;
        // border-bottom-right-radius: 200px;
    }
    
    
    
    .slider-row{
        display: flex;
        .owl-theme .owl-nav.disabled+.owl-dots{
          position: absolute;
          bottom: 0;
          left: 50%;
      }
      .col{
        display: flex;
        padding-top: 8rem;
        justify-content: end;
        @include portrait-mobile-max(){
          flex-direction: column;
          padding-left: 2rem;
        }
        @include responsive_mobile(){
          flex-direction: column;
          padding-left: 2rem;
        }
    }
    }
    
  .col-left{
      flex: 0 0 41.666667%;
      max-width: 41.666667%;
      @include responsive_mobile(){
        max-width: 100%;
      }
      @include portrait-mobile-max(){
        max-width: 100%;
      }
      p{
        max-width: 80%;
        padding: 1.7rem 0;
      }
      .btn{
        background-color: #841E25;
        color: #C8C8C8;
        padding: 0.7rem 2.3rem 0.7rem 2.8rem;
      }
      
  }
  .col-right{
      flex: 0 0 50%;
      max-width: 50%;
      @include portrait-mobile-max(){
        max-width: 100%;
      }
      @include responsive_mobile(){
        max-width: 100%;
      }
  }

.homepage-slider {
  .home-slider {
    // height: 100vh;
    width: 100%;
    position: relative;

    // padding: 6rem 2rem 0px 10rem;
    .home-slider-left {
      max-width: 40%;
      position: absolute;
      left: 7.8rem;
      top: 8rem;
      padding-right: 7rem;
      
      @include responsive(768,1199){
        max-width: 75%;
      }
      @include responsive_mobile(){
        left: 2rem;
        max-width: 100%;
        padding-right: 2.5rem;
      }
      @include portrait-mobile-max(){
        top: 6rem;
      }
      @include custom-small-mobile-max(){
        top: 4rem;
      }
      
      p {
        padding: 1.7rem 0;
        @include custom-small-mobile-max(){
          padding: 0.7rem 0;
        }
      }
      .btn {
        background-color: $red-1;
        color: $grey-2;
        padding: 0.7rem 2.3rem 0.7rem 2.8rem;
        &::after {
          content: url("/images/icon-header.png");
          display: inline-block;
          vertical-align: middle;
          padding-left: 1rem;
        }
      }
    }
    .Home-slider-right {
      max-width: 55%;
      position: absolute;
      right: 0;
      bottom: -1px;
      @include responsive_mobile(){
        max-width: 100%;
      }
    }
  }
  .owl-slide__text {
    img {
      width: 100%;
    }
    flex: 1 0 40%;
    align-self: center;
  }
  .left_owl {
    padding-left: 8rem;
    .owl__para {
      margin: 1.7rem 0 2.1rem;
      p {
        font-size: 0.9rem;
      }
    }

    .owl_btn {
      padding: 0.7rem 2.5rem;
      //   color: $white-color;
      font-size: 0.9rem;
      line-height: 1.7rem;
      &::after {
        content: url("../images/arrow-forward.png");
        width: 16px;
        height: 16px;
        margin-left: 7px;
        vertical-align: middle;
      }
    }
  }
  .owl_images {
    flex: 1 0 60%;
    align-self: flex-end;
    position: relative;
  }

  main .owl-carousel .owl-item img {
    height: 100%;
    object-fit: cover;
  }

  .owl__slide {
    display: flex;
    // align-items: center;
    height: 90vh;
  }
  .owl-dots .owl-dot.active span {
    background: #fef9fa;
  }
  .owl-dots .owl-dot span {
    background: #cfcfcf;
  }

  .owl-dots {
    position: absolute;
    left: 50%;
    bottom: 0;
  }
  .owl-carousel .owl-slide {
    position: relative;
    height: 100vh;
    background-color: lightgray;
  }

  .owl-theme .owl-dots .owl-dot span {
    width: 14px;
    height: 14px;
    background: #cfcfcf;
  }
  .owl-theme .owl-dots .owl-dot.active span,
  .owl-theme .owl-dots .owl-dot:hover span {
    background: $white-1;
  }
}

//   about
.about {
  width: 100%;
  padding: 5.3rem 0 9.3rem 0;
  position: relative;
  @include responsive_mobile(){
    padding: 5.3rem 0 5.3rem 0;
  }
  .about-main {
    position: relative;
    display: flex;
    justify-content: center;
    max-width: 64%;
    margin: 0 auto;
    @include responsive_mobile(){
      max-width: 100%;
      flex-direction: column;
      padding: 0 2rem;

    }
    &::before {
      content: url("/images/circle_about.png");
      display: inline-block;
      position: absolute;
      z-index: 2;
      top: -4rem;
    left: -4rem;
    @include responsive_mobile(){
      left: 0.5rem;
    }
    }
   
  }
  .about_left {
    flex: 0 0 50%;
    text-align: center;
    .about-img {
      width: 100%;
      margin-bottom: -2.2rem;
    }
    .btn {
      font-size: 1rem;
      line-height: 1rem;
      color: $black-4;
      background-color: $yellow-1;
      padding: 1rem 6.1rem;
      // position: absolute;
      // bottom: -2%;
      // left: 9%;
      @include responsive_mobile(){
        padding: 1rem 2.1rem;
        left: 30%;
        bottom: 57%;
      }
    }
  }

  .about_right {
    flex: 0 0 50%;
    padding-top: 3rem;
    position: relative;

    .about-dot-img {
      width: 100%;
    }
    .about-details{
      padding-left: 1.8rem;
      padding-right: 2rem;
      h3{
        color: $black-1;
        padding-bottom: 1.3rem;
        // @include responsive(320px,767px){
        //   font-size: 1.6rem;
        // }
        &::after {
          content: url("/images/about-dot.png");
          display: inline-block;
          position: absolute;
          z-index: 2;
          left: 50%;
          top: 9%;
          @include portrait-mobile-max(){
            left: 45%;
          }
        }
      }
      @include responsive_mobile(){
        padding-left: 0rem;
        padding-right: 0rem;
      }
    }
   
  }
}

/*---------- ~mission and vision~ ---------------*/
.mission_vision {
  height: 100%;
  background-color: #841e25;
  background-image: url(/images/hw.png);
  width: 100%;
  background-size: cover;
}
// position: relative;
//   z-index: -1;

.mission {
  display: flex;
  justify-content: center;
  max-width:64% ;
  margin: 0 auto;
  padding-bottom: 3.4rem;
  @include responsive_mobile(){
    flex-direction: column;
    max-width: 100%;
    padding: 0 2rem;
  }
  .btn{
    padding:0.9rem 2.7rem;
    color: $black-4;
  }
}
.mission-outer {
  position: relative;
  z-index: 1;
  flex: 0 0 50%;
  .misson-img {
    width: 100%;
    margin-top: -2rem;
    @include responsive_mobile(){
      margin-top: -4rem;
    }
    @include ipad-min(){
      margin-top: -4rem;
    }
  }
}
.mission-inner {
  .mission-circle {
    width: 100%;
    // max-width: 390px;
    position: absolute;
    z-index: -1;
    top: 10%;
    left: -22%;
    @include responsive_mobile(){
      left: -9%;
    }
  }
  .mission-dot {
    width: 100%;
    max-width: 180px;
    position: absolute;
    left: -17%;
    top: 50%;
    z-index: -1;
    @include responsive_mobile(){
      left: 0%;
      top: 0;
    }
  }
}
.mission-content {
  flex: 0 0 70%;
  align-self: center;
  margin-left: 2rem;
  @include responsive_mobile(){
    margin: 0;
    padding-top: 5rem;
  }
  h3 {
    color: $white-1;
  }
  p {
    line-height: 1.3rem;
    padding: 1.1rem 0;
    color: $white-1;
    font-family: "Roboto", sans-serif;
  }

  .btn {
    font-family: "circular-std-book", sans-serif;
    font-size: 0.9rem;
    line-height: 1rem;
  }
}
.vision {
  display: flex;
  justify-content: center;
  max-width: 64%;
  margin: 0 auto;
  margin-top: -5.8rem;
  @include responsive_mobile(){
    flex-direction: column;
    max-width: 100%;
    padding: 0 2rem;
    margin: 0;
  }
  .btn{
    padding:0.9rem 2.7rem;
    color: $black-4;
  }
}
.vision-outer {
  position: relative;
  z-index: 1;
  flex: 0 0 50%;
  .misson-img {
    width: 100%;
    // max-width: 511px;
    transform: translateY(10%);
  }
}
.vision-inner {
  .vision-circle {
    width: 100%;
    max-width: 390px;
    position: absolute;
    top: 5%;
    right: 0%;
    z-index: -1;
  }
  .vision-dot {
    width: 100%;
    // max-width: 180px;
    position: absolute;
    left: 36%;
    top: 42%;
    z-index: -1;
    @include responsive_mobile(){
      left: 0%;
    }
  }
}
.vision-content {
  flex: 0 0 45%;
  margin-left: 3.6rem;
  align-self: center;
  @include responsive_mobile(){
    margin: 0;
    padding-top: 4rem
  }
  h3 {
    color: $white-1;
    margin-bottom: 1.1rem;
  }
  p {
    line-height: 1.3rem;
    color: $white-1;
    font-family: "Roboto", sans-serif;
  }
  ol {
    li {
      list-style-position: inside;
      color: $white-1;
      font-family: "Roboto", sans-serif;
      font-size: 0.9rem;
      line-height: 1.3rem;
    }
  }

  .btn {
    font-size: 0.9rem;
    line-height: 1rem;
    margin-top: 1.1rem;
    font-family: "circular-std-book", sans-serif;
  }
}

/*---------- ~hwschool~ ---------------*/
.hw-school{
  padding: 6.6rem 0 0 0;
  .section-head-heading{
    padding: 0 20rem;
    @include ipad-min(){
      padding:0 3rem;
    }
    @include portrait-mobile-max(){
      padding: 0;
    }
    h3{
      text-align: center;
      padding-bottom: 1.3rem;
    }
    p{
      text-align: center;
    }
  }
  
}
.card-section{
  padding: 5.1rem 0 7.6rem 0;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  
}
// hw-school-slider
.hw-school-slider{
  height: 100%;
  width: 100%;
  position: relative;
  background-color: #f9f4fc;
  clip-path: ellipse(78% 50% at 50% 50%);
  @include portrait-mobile-max(){
    padding: 6rem 2rem;
  }

  .owl-theme .owl-nav {
    margin-top: 10px;
    position: absolute;
    left: 0;
}
.owl-nav .fa-arrow-right,.fa-arrow-left{
  color: $red-1;
}
  &::after {
    content: url("../images/slider-dots.png");
    background-repeat: no-repeat;
    position: absolute;
    right: 4%;
    top: 45%;
    z-index: -1;
  }
  .owl-hw-slider{
    // padding: 6.5rem 4.8rem 13rem 4.8rem;
    padding: 0rem 0rem 10rem 0em;
  }
  .section-head-heading{
    padding: 0 20rem;
    padding-top: 6.5rem;
    @include responsive_mobile(){
      padding: 0;
    }
    h3{
      text-align: center;
      padding-bottom: 1.3rem;
    }
    p{
      text-align: center;
      padding-bottom: 5.5rem;
    }
  }
  
}
.slider-one {
  
  background: $white-1;
  transition: all 1s ease;
  // padding: 0 75px;
  img {
    width: 100%;
  }
  h4 {
    border-radius: 5px;
    padding: 1.3rem 3.2rem;
  }
  h4:hover {
    color: $white-1;
    background: $red-1;
    border-radius: 0px;
  }
  
}


/*---------- ~Testimonal~ ---------------*/
.testimonal-section {
  padding: 3.1rem 0 6.4rem 0;
  .section-head-heading {
    padding: 0 20rem;
    @include responsive_mobile(){
      padding: 0;
    }
    h3{
      text-align: center;
    }
    p {
      text-align: center;
      padding-bottom: 5.4rem;
    }
  }
}
.testimonal-content {
  p {
    font-family: "Roboto-regular", sans-serif;
    font-size: 0.9rem;
  }
}

.owl-three .owl-item {
  // box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
  padding: 1rem 1rem 2rem 1rem;
  overflow: hidden;
}
.owl-three .owl-dots .owl-dot.active span {
  background: $red-1;
}
.owl-three .owl-dots .owl-dot:hover span {
  background: $red-1;
}
.owl-three .owl-dots .owl-dot span {
  background: #7c7c7c;
}

.testimonal {
  background: #ffffff;
  padding: 2rem 1.5rem 2.3rem 2.5rem;
  border-radius: 29px;
  box-shadow: rgba(0, 0, 0, 0.15) 0px 5px 15px 0px;

  .testimonal-header {
    display: flex;
    padding-bottom: 1.8rem;
  }
  .testimonal-title {
    padding-left: 28px;
    align-self: center;
  }
}
.owl-three .owl-carousel .owl-item img {
  width: 63px;
  height: 63px;
}
/*---------- ~Info~ ---------------*/
.info {
  background: url(../images/info-banner.png);
  width: 100%;
  height: 100%;
  padding: 6rem 0 9rem 0;
  @include portrait-mobile-max(){
    padding: 6rem 0 6rem 0;
  }
  .info-main{
    max-width: 70%;
    margin: 0 auto;
  }
  h3 {
    text-align: center;
    padding-bottom: 2.6rem;
    color: $red-1;
    @include portrait-mobile-max(){
      font-size: 1.6rem;
    }
  }
  .info-content {
    display: flex;
    align-items: center;
    justify-content: center;
    @include portrait-mobile-max(){
      flex-direction: column;
    }
    ul {
      list-style-type: disc;
      list-style-position: inside;
      padding-left: 42px;
     @include portrait-mobile-max(){
      padding-top: 2.6rem;
     }
      li {
        color: $black-7;
        font-size: 1.1rem;
        line-height: 1.4rem;
        padding-bottom: 0.75rem;
        a {
          text-decoration: underline;
          color: $black-7;
        }
      }
    }
  }
}

  .progress-main{
    max-width: 80%;
    margin: 0 auto;
    padding-top: 2.8rem;
  
  .section-head-heading {
    padding-top: 2.5rem;
    text-align: center;
    padding: 0 10rem;
    h3{
      padding-bottom: 1.8rem;
     
    }
    @include portrait-mobile-max(){
      padding: 0rem;
    }
  }
}
.card-progress {
  transition: all 0.3s ease;
  &:hover {
    box-shadow: rgba(17, 17, 26, 0.1) 0px 1px 0px,
      rgba(17, 17, 26, 0.1) 0px 8px 24px, rgba(17, 17, 26, 0.1) 0px 16px 48px;
    border-radius: 100px 8px 101px 8px;
  }
}

.progress {
  display: flex;
  padding-bottom: 3rem;
  padding: 4.4rem 0 3.8rem 0;
  @include portrait-mobile-max(){
    flex-direction: column;
  }
  .progress-percentage {
    background-size: cover;
    background-repeat: no-repeat;
    max-width: 179px;
    height: 179px;
    margin: 0 auto;
    display: flex;
    margin-top: 1.8rem;
    justify-content: center;
    align-items: center;
  }
  .progress-percentage-red {
    background: url("../images/Statistics-red.png");
  }
  .progress-percentage-green {
    background: url("../images/Statistics-green.png");
  }
  .progress-percentage-orange {
    background: url("../images/Statistics-orange.png");
  }
  .progress-content {
    text-align: center;
  }
}
.progress-content {
  padding: 0 2.1rem 3.9rem 2.1rem;
  h5 {
    padding: 1.8rem 0 2.5rem 0;
  }
}
/*---------------- ~Footer~ ---------------*/
.footer {
  padding: 6.1rem 0px 0 0px;
  // background:url('../images/brow.png');
  // background-size: cover;
  // background-position: center;
  clip-path: ellipse(300% 100% at 80% 100%);
  background-color: $red-1;
  width: 100%;
  justify-content: center;
  @include responsive_mobile(){
    padding: 6.1rem 1rem 0 1rem;
  }
  .footer-contain {
    display: flex;
    @include ipad-min(){
      flex-direction: column;
      padding-left: 2.8rem;
    }
  }
  a {
    color: $white-1;
    font-size: 0.7rem;
    line-height: 2.1rem;
  }
  p {
    color: $white-1;
    font-size: 0.7rem;
    line-height: 1rem;
  }
  h2{
    color: $white-1;
      margin: 0;
    padding: 0;
    font-size: 1rem;
    line-height: 1rem;
    
  }
 
  .footer-logo {
    display: flex;
    align-items: center;
    .footer-logo-img {
      width: 58px;
      height: 57px;
    }
    @include portrait-mobile-max(){
      padding-bottom: 1rem;
    }
  }
  // .footer-text {
   
  // }
  .follow-text{
    color: $white-1;
    font-size: 1rem;
    line-height: 1rem;
    padding-left: 8px;
    font-weight: 400;
    display: inline-block;
    padding: 3rem 0 1rem 0;
  }
  .footer-info {
    padding-left: 3.7rem;
    @include portrait-mobile-max(){
     padding: 0;
    }
    @include ipad-min(){
      padding: 0;
    }
    p {
      display: flex;
      align-items: center;
    }
    .location-text {
      padding-bottom: 0.9rem;
      width: 55%;
    }
    .text-phone {
      padding-top: 1.9rem;
    }
  }
  .social{
    width: 30%;
    margin-top: -1rem;
    @include portrait-mobile-max(){
      width: 100%;
      flex-wrap: wrap;
    }
    @include ipad-min(){
      width: 100%;
    }
  }
  .social-icon {
    display: flex;
    .circle-social {
      width: 42px;
      height: 42px;
      border-radius: 42px;
      border: 1px solid #ffffff;
      display: flex;
      align-items: center;
      justify-content: center;
      margin-right: 9px;
      .facebook-icon {
        width: 13px;
        height: 20px;
      }
    }
  }
  .footer-right{
    display: flex;
    width: 70%;
   
    @include portrait-mobile-max(){
      width: 90%;
      flex-wrap: wrap;
      padding-top: 3rem;
    }
    @include ipad-min(){
      width: 90%;
      padding-top: 4rem;
    }
  }
   .col {
    width: 240px;
    height: auto;
    ul {
      list-style-type: none;
      margin: 0;
      padding: 0;
    }
    li {
      color: #999999;
      display: block;
      font-size: 14px;
      font-family: inherit;
      font-weight: bold;
      padding: 5px 0px 5px 0px;
      cursor: pointer;
      transition: .2s;
      -webkit-transition: .2s;
      -moz-transition: .2s;
    }
    .social ul li {
      display: inline-block;
      padding-right: 5px !important;
      &:hover{
        color: #ffffff;
        transition: .1s;
        -webkit-transition: .1s;
        -moz-transition: .1s;
      }
    }
    
  }
  .footer-copyright{
    text-align: center;
    border-top: 1px solid rgba(251, 251, 251, 0.17);
    padding: 1.5rem 0;
  }
}
 

// .clearfix {
//   clear: both;
// }
// @media only screen and (min-width: 1280px) {
//   .footer-contain {
//     width: 1200px;
//     margin: 0 auto;
//     display: flex;
//   }
// }
// @media only screen and (max-width: 1139px) {
//   .contain .social {
//     width: 1000px;
//     display: block;
//   }
//   .social h1 {
//     margin: 0px;
//   }
// }
// @media only screen and (max-width: 950px) {
//   .footer .col {
//     width: 33%;
//   }
//   .footer .col h1 {
//     font-size: 14px;
//   }
//   .footer .col ul li {
//     font-size: 13px;
//   }
// }
// @media only screen and (max-width: 500px) {
//     .footer .col {
//       width: 50%;
//     }
//     .footer .col h1 {
//       font-size: 14px;
//     }
//     .footer .col ul li {
//       font-size: 13px;
//     }
// }
// @media only screen and (max-width: 340px) {
//   .footer .col {
//     width: 100%;
//   }
// }
