/*---------------- ~Footer~ ---------------*/
.footer {
    padding: 6.1rem 0px 0 0px;
    // background:url('../images/brow.png');
    // background-size: cover;
    // background-position: center;
    clip-path: ellipse(300% 100% at 80% 100%);
    background-color: $red-1;
    width: 100%;
    justify-content: center;
    @include responsive_mobile(){
      padding: 6.1rem 1rem 0 1rem;
    }
    .footer-contain {
      display: flex;
      @include ipad-min(){
        flex-direction: column;
        padding-left: 2.8rem;
      }
    }
    a {
      color: $white-1;
      font-size: 0.7rem;
      line-height: 2.1rem;
    }
    p {
      color: $white-1;
      font-size: 0.7rem;
      line-height: 1rem;
    }
    h2{
      color: $white-1;
      margin: 0;
      padding: 0;
      font-size: 1rem;
      line-height: 1rem;
      @include portrait-mobile-max(){
        padding-top: 1rem;
      }
    }
   
    .footer-logo {
      // display: flex;
      // align-items: center;
      .footer-logo-img {
        width: 58px;
        height: 57px;
        vertical-align: middle;
      }
      h2{
        display: inline-block;
      }
  
      @include portrait-mobile-max(){
        padding-bottom: 1rem;
      }
    }
    // .footer-text {
     
    // }
    .follow-text{
      color: $white-1;
      font-size: 1rem;
      line-height: 1rem;
      padding-left: 8px;
      font-weight: 400;
      display: inline-block;
      padding: 3rem 0 1rem 0;
    }
    .footer-info {
      padding-left: 3.7rem;
      @include portrait-mobile-max(){
       padding: 0;
      }
      @include ipad-min(){
        padding: 0;
      }
      p {
        display: flex;
        align-items: center;
      img{
        vertical-align: middle;
      }
      }
      .location-text {
        padding-bottom: 0.9rem;
        width: 55%;
      }
      .text-phone {
        padding-top: 1.9rem;
      }
    }
    .social{
      width: 30%;
      margin-top: -1rem;
      @include portrait-mobile-max(){
        width: 100%;
        flex-wrap: wrap;
      }
      @include ipad-min(){
        width: 100%;
      }
    }
    .social-icon {
      display: flex;
      .circle-social {
        width: 42px;
        height: 42px;
        border-radius: 42px;
        border: 1px solid #ffffff;
        display: flex;
        align-items: center;
        justify-content: center;
        margin-right: 9px;
        .facebook-icon {
          width: 13px;
          height: 20px;
        }
      }
    }
    .footer-right{
      display: flex;
      width: 70%;
     
      @include portrait-mobile-max(){
        width: 90%;
        flex-wrap: wrap;
        padding-top: 3rem;
      }
      @include ipad-min(){
        width: 90%;
        padding-top: 4rem;
      }
    }
     .col {
      width: 240px;
      height: auto;
      ul {
        list-style-type: none;
        margin: 0;
        padding: 0;
      }
      li {
        color: #999999;
        display: block;
        font-size: 14px;
        font-family: inherit;
        font-weight: bold;
        padding: 5px 0px 5px 0px;
        cursor: pointer;
        transition: .2s;
        -webkit-transition: .2s;
        -moz-transition: .2s;
        &:first-child{
          padding-top: 1rem;
        }
      }
      .social ul li {
        display: inline-block;
        padding-right: 5px !important;
        &:hover{
          color: #ffffff;
          transition: .1s;
          -webkit-transition: .1s;
          -moz-transition: .1s;
        }
      }
      
    }
    .footer-copyright{
      text-align: center;
      border-top: 1px solid rgba(251, 251, 251, 0.17);
      padding: 1.5rem 0;
    }
  }