header {
    width: 100%;
    .header-top {
      width: 100%;
      height: 3.8rem;
      background-color: $red-1;
      padding: 0rem 2.8rem;
      display: flex;
      align-items: center;
      justify-content: space-between;
      @include responsive_mobile() {
        flex-direction: column;
        padding: 1rem 2rem;
        align-items: flex-start;
        height: auto;
      }
      li {
        @include responsive_mobile() {
          padding-bottom: 0.3rem;
        }
        a {
          color: $grey-2;
          font-size: 0.78rem;
          padding-right: 0.7rem;
        }
      }
      .dropdown {
        .dropdown-content {
          top: 3rem;
        }
      }
      img {
        padding-right: 8px;
        vertical-align: middle;
      }
      .top-header-btn {
        display: inline-block;
        .btn {
          font-family: "circular-std-black", sans-serif;
          font-size: 0.7rem;
          padding: 0.4rem 1.6rem 0.4rem 1.6rem;
          color: $black-2;
          margin-right: 1.25rem;
        }
        @include responsive_mobile() {
          padding-top: 0.5rem;
        }
      }
    }
    //   haeder navbar
    .navbar {
      background-color: $white-2;
      padding: 0.7rem 2.8rem;
      display: flex;
      justify-content: space-between;
      align-items: center;
      flex-wrap: wrap;
     
      @include responsive_mobile() {
        padding: 1rem 2rem;
      }
      @include responsive_mobile() {
        .navbar-menu {
          display: flex;
          flex-direction: column;
          padding: 1rem 0rem 0 0.8rem;
          li {
            padding-bottom: 1rem;
          }
        }
        .navbar-nav {
          display: none;
          width: 100%;
        }
        .navbar-nav.show {
          display: block;
          position: relative;
          z-index: 999;
        }
        .dropdown .dropdown-content {
          top: 1.5rem;
          left: 3rem;
        }
      }
      .navbar-logo {
        display: inline-block;
        font-family: "circular-std-black", sans-serif;
        color: $black-1;
        font-size: 1rem;
        line-height: 1.3rem;
        .logo {
          vertical-align: middle;
        }
      }
      ul {
        // padding-bottom: 0.9rem;
        li {
          a {
            font-family: "circular-std-medium", sans-serif;
            color: $black-1;
            padding-right: 1.6rem;
            font-size: 0.8rem;
            line-height: 1.1rem;
          }
          .dropdown {
            .dropbtn {
              font-family: "circular-std-medium", sans-serif;
              color: $black-1;
              padding: 0;
              border: none;
              border-radius: 0;
              padding-right: 1.6rem;
              font-size: 0.8rem;
              line-height: 1.1rem;
              .dropdown-content {
                font-size: 0.8rem;
                line-height: 1.1rem;
                font-family: "circular-std-medium", sans-serif;
                top: 2rem;
              }
              img {
                vertical-align: middle;
              }
            }
          }
          .search-icon {
            position: relative;
            background-color: #ffffff;
            padding: 0.6rem 1.1rem;
            border-radius: 0.9rem;
            width: 61px;
            height: 44px;
            display: inline-block;
            vertical-align: middle;
          }
        }
      }
    }
  }
  .toggle-btn {
    width: 30px;
    // position: absolute;
    // right: 5rem;
    // top: 5.3rem;
    span {
      display: inline-block;
      width: 1.5rem;
      height: 1.5rem;
      vertical-align: middle;
      content: "";
      background: url(/images/hamburger-menu.svg) no-repeat center center;
      background-size: 100% 100%;
    }
    display: none;
    @include responsive_mobile() {
      display: block;
    }
    
  }
  