*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "circular-std-book", sans-serif;
}
.container {
    width: 100%;
    max-width: 1265px;
    margin: 0 auto;
  }
ul{
    list-style-type: none;
    padding: 0;
    margin: 0;
  }
// li {
//     // display: inline-block;
//     }
a{
    text-decoration: none;
}