.dropdown {
  position: relative;
  display: inline-block;
.dropbtn {
    background-color: transparent;
    color: $white-1;
    padding: 0.6rem 0.9rem;
    padding-right: 0.5rem;
    border: 1px solid $white-1;
    font-size: 0.7rem;
    cursor: pointer;
    border-radius: 0.9rem;
    .arrow-light{
        padding-left: 0.1rem;
    }
  }
  .dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 130px;
    top: 3.3rem;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    z-index: 2;
        a{
            font-size: 0.7rem;
        color: $black-2;
        padding: 12px 16px;
        text-decoration: none;
        display: block;
        &:hover{
            background-color: #f1f1f1;
        }
        }
  }
}
  
  
  .dropdown:hover .dropdown-content {
    display: block;
  }
  
  .dropdown:hover .dropbtn {
    background-color: transparent;
  }

// owl .owl-carousel
 
  