
    $white-1:#FFFFFF;
    $white-2:#FBF9F9;

    $grey-1:#EEEEEE;
    $grey-2:#C8C8C8;
    $grey-3:#BDBDBD;
    $grey-4:#7D7D7D;

    $black-1:#002147;
    $black-2:#040404;
    $black-3:#000000;
    $black-4:#212529;
    $black-5:#37474F;
    $black-6:#1C2021;
    $black-7:#373737;
    
    $red-1:#841E25;
    $red-2:#FF5959;

    $yellow-1:#FFBA49;
    $yellow-2:#FFBA49;

    $green-1:#70CE88;
    $blue-1:#5C96FF;
